*{
    margin: 0px;
    padding: 0px;
}
:root{
    --primary-bg-color:black;
    --primary-color-white: rgb(255,255,255);
    --primary-color-red: rgb(234, 15, 30);
    --big-font-size:112.5px;
    --primary-font-family:'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font-family);
    color: var(--primary-color-white);
}

.homeBtn{
    color: white;
    /* background-color: red; */
    top:40px;
    width: 75%;
    font-size: 24px;
    text-align: right;
    position: sticky;
    font-weight : bolder;
    cursor: pointer;
    
}
.about-Main-headline{
    margin-top: 42px;
    margin-bottom: 20px;
    width: 75%;
    font-size:42px;
    
}

.eveything-about-me{
    width: 75%;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.eveything-about-me .heading{
    width: 70%;
    text-align: start;
    margin: 10px;
 
}


.eveything-about-me .paragraph{
    width: 70%;
    text-align: start;
    margin-bottom: 50%;
    line-height: 38.4px;
    font-size: 24px;
    font-weight: 400;
}
.main-big-image .img{
    width:  100%;
    height: 40%;
}

@media screen and (max-width:1200px) {
 .eveything-about-me .paragraph{
    font-size:2em;
    width: 95%;

}  
.about-Main-headline{
font-size: 1.5em;    
}
}