.platforms{
    margin-bottom: 50%;
    display: flex;
    flex-direction:column;
    align-items: start;
    width: 70%;
    padding-left: 20%;

}

.eveything-about-me .paragraph{
    margin:10px !important;
}

.platforms h4.p{
    color:rgb(234, 15, 30);
    margin: 2px;
    font-size: 24px;
    transition: transform 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-fill-mode: backwards;
    font-family: var(--primary-font-family);
    width:65%;
    cursor:pointer;
 
}




.platforms h4.p:hover{
  
  transform: translateX(20%);
  transition: transform 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  background-color: black;
  color: white;
}

.platforms h4.p::selection{
    background-color: black;

}


@media only screen and (max-width:1200px){
   .homeBtn{
        font-size: 2em;
   }
   .about-Main-headline{
       margin: 10px;
       font-size: 1.5em;
       
   }
   .heading{
       font-size: 1.5em;
   }
.eveything-about-me .paragraph{
    font-size: 1.5em;
    letter-spacing: 5px;
    /* background-color: red; */
    margin:0px !important;
    font-weight: bolder;
    text-align: left;
}
.platforms h4.p{
    font-size:2em;
}
} 



@media only screen and (max-width:760px){
   .homeBtn{
        font-size: 2em;
        width: 100%;
        text-align: center;
        top: 5px;
   }
   .about-Main-headline{
       margin: 10px;
       font-size: 1.5em;
       width: 100%;
       padding-left: 10px !important;
       text-align: center;
       
   }
   .heading{
       font-size: 2em;
       width: 100%;
       
   }
.eveything-about-me .paragraph{
    width:95%;
    font-size: 1.5em;
    letter-spacing: 5px;
    /* background-color: red; */
    margin:0px !important;
    font-weight: bolder;
    text-align: left;
}
.platforms{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    overflow: hidden;

}
.platforms h4.p{
    font-size:2em;

}
.platforms h4.p#email{
    font-size: 2.5em;
    margin-left:10px;
}
} 